// font-family: 'Baloo 2', cursive;
// font-family: 'Poppins', sans-serif;

$light-blue: #2791cf;
$light-grey: #7e878c;
$dark-grey: #3f3f3f;
$white: #ffffff;

$font-text: "Poppins", sans-serif;
$font-heading: "Baloo 2", cursive;
$fSize: 16px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-text;
  ::-webkit-scrollbar {
    display: none;
  }
}

@mixin flexing($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  overflow: hidden;
  border-radius: 10px;

  // nesting of tags
  header {
    background-color: $light-blue;
    color: $white;
    padding: 7px 20px;
    @include flexing(row, space-between, center);

    div.title {
      @include flexing(row, flex-start, center);

      h1 {
        font-family: $font-heading;
        font-size: 32px;
        margin-left: 10px;
      }
    }

    button {
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      // display: none;
    }
  }

  div.container {
    background-color: $light-grey;
    padding: 20px;

    // putting user window and chat window in same row
    @include flexing(
      row,
      flex-start,
      stretch
    ); // stretch : makes same height of all elements

    div.users-window {
      background-color: $dark-grey;
      color: $white;
      width: 350px;
      padding: 15px 20px;
      border-radius: 10px;
      margin-right: 15px;

      div.users-head {
        @include flexing(row, space-between, center);
        margin-bottom: 15px;

        h4 {
          background-color: red;

          // to make border circular
          padding: 0 8px;
          border-radius: 50px;
        }
      }

      div.users-list {
        p {
          font-size: 0.9rem;
          font-weight: 600;
          letter-spacing: 0.5px;
          margin-bottom: 15px;
        }
      }
    }

    div.chat-window {
      width: 100%;
      background-color: $dark-grey;
      border-radius: 10px;

      div.chats {
        padding: 20px;
        height: 65vh;
        overflow-y: auto;

        div.user-join {
          font-size: 0.9rem;
          background-color: $white;
          color: $dark-grey;
          border-radius: 50px;
          width: max-content;
          padding: 7px 20px;
          margin: 0 auto;
          margin-bottom: 15px;
        }

        div.message {
          background-color: $white;
          color: $dark-grey;
          padding: 5px 15px;
          max-width: 475px;
          margin-bottom: 15px;
          border-radius: 10px 50px 50px 10px;

          p {
            font-size: $fSize;
          }
          h5 {
            letter-spacing: 0.7px;
            font-size: 0.9rem;
          }
        }

        div.outgoing {
          margin-left: auto;
          color: $white;
          background-color: $light-blue;
          border-radius: 50px 10px 10px 50px;
          text-align: right;
        }
      }

      div.user-input {
        @include flexing(row, space-between, stretch);
        padding: 20px;

        input {
          background-color: $white;
          width: 100%;
          padding: 10px 20px;
          font-size: $fSize;
          outline: none;
          border: none;
          border-radius: 50px 0 0 50px;
        }

        button {
          background-color: $light-blue;
          color: $white;
          font-size: $fSize;
          font-weight: 600;
          letter-spacing: 0.5px;
          padding: 10px 20px;
          border-radius: 0 50px 50px 0;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  main {
    width: 95%;

    header {
      button {
        // display: block;
      }
    }

    div.container {
      position: relative;

      div.users-window {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0 0 10px 10px;
        height: max-content;
        z-index: 11;
        box-shadow: 0 15px 20px -20px black;
        padding-bottom: 0;
        display: none;
      }

      div.chat-window {
        div.chats {
          div.message {
            max-width: 300px;
          }
        }
      }
    }
  }
}
